<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit contacts</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/user/{email}/addContact(email=${user.getEmail()})}" th:object="${}">
    <label>
        <select th:field="*{contacts}" multiple>
            <option th:each="contact : ${user.getContacts()}" th:value="${contact}" th:text="${contact}"></option>
        </select>
    </label>

</form>
<form th:object="${user.getContacts()}" th:action="@{/user/{email}/addContact(email=${user.getEmail()})}">
    <!-- отображение списка значений из Set<String> type -->
    <label for="typeSelect">Select type of contact:</label>
    <select id="typeSelect" th:field="*{user.getContacts()}">
        <option th:each="t : ${user.contacts[0].type}" th:value="${t}" th:text="${t}"></option>
    </select>

    <!-- ввод нового значения для поля String contact -->
    <label for="contactInput">Введите новое значение контакта:</label>
    <input type="text" id="contactInput" th:field="*{user.getContacts()}"/>

    <button type="submit">Сохранить</button>
</form>


<form th:object="${user.getContacts()}" th:method="post" th:action="@{/save}">
    <div th:each="contact, contactStatus : ${user.getContacts()}">
        <div>
            <label>Type:</label>
            <label>
                <select th:field="${${contactStatus.index}}" multiple="multiple">
                    <option value="type1">Type 1</option>
                    <option value="type2">Type 2</option>
                    <option value="type3">Type 3</option>
                </select>
            </label>
        </div>
        <div>
            <label>Contact:</label>
            <label>
                <input type="text" th:field="${${contactStatus.index}}"/>
            </label>
        </div>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>