<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/user/{id}/edit(id=${session.currentUser.getId()})}" th:object="${user}">

    <p th:text="${'id: ' + session.currentUser.id}">VALUE</p>

    <a th:text="${'email: ' + session.currentUser.getEmail()}">VALUE</a>
    <br/>

    <label for="firstname">Enter Firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstname"/>
    <!--<div style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstName}">Firstname Error</div>-->
    <br/>
    <label for="lastName">Enter Lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <!--<div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname Error</div>-->
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <!--<div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Email Error</div>-->
    <br/>
    <label for="username">Enter Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <!--<div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>-->
    <br/>
    <input type="submit" value="Update !"/>
</form>

</body>
</html>